/* Fonts */

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
  url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
  url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-light: #333333;
  --basic-dark: #888888;
  --basic-gray: #ABABAB;
  --basic-extra-gray: #BDBBBC;
  --basic-extra-light: #eeeeee;
  --basic-white: #ffffff;
  --basic-white-rgb: 255, 255, 255;
  --basic-black-rgb: 0, 0, 0;

  --basic-neutral: #f2f2f2;
  --basic-neutral-light: #666666;
  --basic-neutral-dark: #A9A9A9;
  --basic-neutral-hover: #ebebeb;
  --basic-neutral-focus: #e5e5e5;

  --special-light: #81b3d2;
  --special-light-hover: #669ec0;
  --special-light-focus: #5496bd;
  --special-dark: #766357;
  --special-dark-hover: #604e43;
  --special-dark-focus: #503e33;
}

/* Global */

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-neutral);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page-inner-content {
  background-color: var(--basic-white);
}

/* Main navigation */

.main-navigation {
  display: grid;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding: 15px 72px;
  position: relative;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 15px 15px 0 rgba(var(--basic-black-rgb), 0.2);
}

/* Logo */

.main-header-logo {
  justify-self: center;
  position: absolute;
  z-index: 1;
}

/* Site navigation */

.site-navigation {
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;*/
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.site-navigation li:nth-child(3n), .site-navigation li:nth-child(4n) {
  justify-self: end;
}

.site-navigation li:nth-child(3n) {
  position: relative;
  left: 87px;
}

.site-navigation li:nth-child(2) {
  position: relative;
  right: 99px;
}

.site-navigation-link {
  color: var(--basic-black);
}

.site-navigation-current .site-navigation-link {
  color: var(--special-dark);
}

.site-navigation-link:hover {
  color: var(--special-light);
}

.site-navigation-link:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Banner */

.banner {
  position: relative;
  padding: 0;
  margin: 0;
  background-image: url("../img/background.jpg");
  background-position: center, 0, 0;
  background-repeat: no-repeat;
  height: 509px;
}

.banner::before {
  content: "";
  width: 456px;
  height: 350px;
  background-image: url("../img/welcome.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 76px;
  margin: 0 auto;
}

.banner-mask {
  position: absolute;
  bottom: 0;
}

/* Features */

.features {
  background-color: var(--basic-white);
  text-align: center;
  padding: 42px 0 0;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 70px;
  margin: 0;
  padding: 60px 35px;
  list-style: none;
}

.features-preview {
  margin-bottom: 52px;
}

.features-text {
  color: var(--basic-light);
  line-height: 26px;
  font-weight: 400;
}

.features-title {
  line-height: 26px;
  padding: 0;
  width: 100%;
  max-width: 490px;
  margin: 0 auto 43px;
}

.features-list .feature-text {
  color: var(--basic-light);
  font-weight: 400;
  margin: 43px 0;
}

.feature-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0;
  padding: 0;
  color: var(--basic-white);
  text-align: center;
}

.last-item {
  grid-template-columns: 2fr 1fr;
}

.last-item .feature-description {
  order: 1;
}

.feature-item img {
  background-color: var(--basic-extra-light);
}

.feature-description {
  background-color: var(--special-light);
  padding: 25px 45px;
}

.feature-title {
  font-size: 21px;
  line-height: 21px;
  width: 100%;
  max-width: 151px;
  margin: 21px auto 27px;
}

.last-item .feature-title {
  margin: 24px auto 27px;
}

.last-item .feature-number {
  margin-bottom: 24px;
}

.feature-description .feature-text {
  font-weight: 400;
}

.feature-number {
  margin-bottom: 25px;
  display: block;
  font-weight: 400;
}

.features-list-other {
  background-color: var(--basic-extra-light);
  padding: 47px 35px 31px;
}

.features-list-other .features-list-item-title::before {
  content: none;
}

.features-list-item {
  position: relative;
}

.features-list-other .features-list-item-title {
  margin: 0 auto 26px;
  width: 100%;
  max-width: 150px;
}

.features-list-other .features-list-item-text {
  max-width: 258px;
}

.features-list-item-title {
  font-size: 21px;
  margin: 99px 0 26px;
}

.features-list-item-text {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 22px;
  font-weight: 400;
}

.features-list-item-title::before {
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
}

.first-item .features-list-item-title::before {
  background-image: url(../img/icons/house.svg);
  width: 75px;
  height: 72px;
}

.second-item .features-list-item-title::before {
  background-image: url(../img/icons/food.svg);
  width: 75px;
  height: 70px;
}

.third-item .features-list-item-title::before {
  background-image: url(../img/icons/gift.svg);
  width: 64px;
  height: 77px;
  top: -5px;
}

/* Button */

.button {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--special-light);
  border: none;
}

.button:hover {
  background-color: var(--special-light-hover);
}

.button:focus {
  outline: none;
  border: none;
  background-color: var(--special-light-focus);
}

.button:focus .button-name {
  opacity: 0.3;
}

/* Form */

.application {
  display: grid;
  justify-items: center;
  background-color: var(--basic-white);
  padding: 26px 20px 86px;
  margin: 0;
  position: relative;
}

.application-form {
  max-width: 568px;
  width: 100%;
  position: absolute;
  top: 205px;
}

.application-form-button {
  cursor: pointer;
}

.application-form-content {
  display: flex;
  flex-direction: column;
  padding: 55px;
  background-color: #ffffff;
  opacity: 0;
}

.application-form-title {
  padding: 30px;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--special-dark);
  cursor: pointer;
}

.application .application-title {
  font-size: 30px;
  line-height: 24px;
  margin: 30px auto;
  padding-right: 10px;
}

.application-info {
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-light);
  margin: 2px auto 45px;
  width: 100%;
  max-width: 450px;
  text-align: center;
}

.application-form-content .button {
  margin-top: 25px;
  padding: 16px 0;
  font-weight: 700;
}

.application-form-title:hover {
  background-color: var(--special-dark-hover);
}

.application-form-title:active {
  color: rgba(var(--basic-white-rgb), 0.3);
  outline: none;
  background-color: var(--special-dark-focus);
}

.application-item {
  display: flex;
  justify-content: space-between;
  margin: 0 0 28px 0;
  padding: 0;
  align-items: center;
  position: relative;
}

.application-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
}

.application-item label {
  line-height: 26px;
  margin: 0;
}

.application-item-label {
  padding-right: 40px;
}

.application-item-last-label {
  padding-right: 24px;
}

.application-item input::placeholder {
  color: var(--basic-black);
}

.application-item-icon {
  position: absolute;
  right: 8px;
  top: 7px;
}

.application-item-field {
  width: 321px;
  height: 34px;
  line-height: 26px;
  border: 2px solid var(--basic-neutral);
  background-color: var(--basic-neutral);
  padding: 0 10px 0;
  font-weight: 700;
}

.application-item-counter::-webkit-inner-spin-button,
.application-item-field::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.application-item-counter {
  text-align: center;
  padding: 0 43px;
  width: 27px;
  text-overflow: ellipsis;
}

.application-item input:hover {
  border: 2px solid var(--basic-neutral-hover);
  background-color: var(--basic-neutral-hover);
}

.application-item input:focus {
  outline: none;
  border: 2px solid var(--basic-neutral-focus);
  background-color: var(--basic-white);
}

.application-item-icon {
  cursor: pointer;
}

.application-item-icon:hover path {
  fill: var(--basic-black);
}

.application-item-icon:active path {
  fill: var(--special-light);
}

.counter:hover path, .counter:hover rect {
  fill: var(--basic-black);
}

.counter:active path, .counter:active rect {
  fill: var(--special-light);
}

.item-children .plus {
  left: 140px;
}

.item-children .minus {
  left: 62px;
}

.plus:before {
  content: "";
  display: block;
  width: 12px;
  height: 3px;
  background-color: var(--basic-neutral-dark);
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(90deg);
}

.counter {
  cursor: pointer;
  position: absolute;
  top: 0;
}

.minus {
  left: 111px;
  padding: 17px;
}

.plus {
  left: 188px;
  padding: 13px;
}

.show-form {
  opacity: 1;
  transition: 0.6s;
}

/* Map */

.map img {
  background-color: var(--basic-extra-light);
}

.map-iframe {
  border: 0;
}

/* Filters */

.filters {
  background-image: url("../img/background-blur.png");
  background-position: center, 0, 0;
  background-repeat: no-repeat;
  color: var(--basic-white);
  padding: 26px 72px 39px;
  margin: 0 0 -7px;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.filter fieldset {
  padding: 0;
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
}

.filter-range {
  font-weight: 400;
}

.filter-price {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter .filter-list {
  list-style: none;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.filter-button {
  border: 2px solid var(--basic-white);
  background-color: transparent;
  border-radius: 2px;
  font-size: 14px;
  line-height: 21px;
  margin-top: 33px;
  padding: 5px 34px;
  margin-left: -12px;
}

.filter-button:hover {
  border: 2px solid var(--basic-white);
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.filter-button:focus {
  border: 2px solid var(--basic-white);
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.filter-option {
  position: relative;
  margin-top: 25px;
  padding-left: 40px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: var(--basic-white);
}

.filter-input + label::before {
  content: "";
  position: absolute;
  top: 0;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-white);
  border-radius: 3px;
  left: -40px;
}

.filter-input:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -36px;
  width: 21px;
  height: 16px;
  background-image: url("../img/icons/check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-housing-type {
  margin-left: -10px;
}

/* Price filter */
.range-filter {
  width: 317px;
  margin-top: 11px;
}

.filter-price {
  margin: 0;
  padding: 0;
  border: none;
}

.range-controls {
  position: relative;
  padding-top: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-gray);
}

.range-controls .bar {
  width: 83%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: var(--basic-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle:hover {
  border: 10px solid #ffffff;
  top: 9px;
}


.range-controls .toggle:focus {
  outline: none;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 252px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  background: none;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  padding: 0 25px 0 50px;
  align-items: center;
}

.line {
  height: 22px;
  width: 2px;
  background-color: var(--basic-white);
  margin-right: 20px;
}

.price-controls label {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 400;
}

.price-controls input {
  width: 50px;
  padding: 8px;
  text-align: center;
  color: var(--basic-white);
  border: none;
  border-radius: 5px;
  background: none;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  text-overflow: ellipsis;
}

/* Sorting */

.sorting {
  display: grid;
  grid-template-columns: 1fr 5fr max-content;
  align-items: center;
  background-color: var(--basic-white);
  padding: 13px 72px;
  margin: 0;
  border-bottom: 1px solid var(--basic-neutral-focus);
}

.sorting-options {
  display: flex;
  align-items: center;
  margin-left: -6px;
  margin-top: -8px;
}

.sorting h2 {
  font-size: 21px;
  line-height: 26px;
}

.sorting-title {
  font-weight: 400;
  margin-right: 40px;
  font-size: 12px;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting-list-button {
  font-size: 12px;
  line-height: 18px;
  border: none;
  border-bottom: 1px dashed var(--special-light);
  color: var(--basic-black);
  opacity: 0.3;
  background-color: transparent;
  cursor: pointer;
}

.sorting-list-button:hover {
  color: var(--special-light);
  background-color: inherit;
  opacity: 1;
}

.sorting-list-button:focus {
  color: var(--basic-black);
  background-color: inherit;
  opacity: 1;
}

.sorting-buttons {
  margin-top: 5px;
}

.sorting-button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: inherit;
  cursor: pointer;
}

.sorting-button-close {
  margin-right: 9px;
  transform: rotate(180deg);
}

.sorting-button:hover {
  color: var(--special-light);
  background-color: transparent;
  opacity: 1;
}

.sorting-button-current {
  border-bottom: none;
  color: var(--special-light);
  background-color: transparent;
  font-size: 12px;
  line-height: 18px;
  opacity: 1;
}

.sorting-button:hover path {
  fill: var(--basic-black);
}

.sorting-button:focus path {
  fill: var(--special-light);
}

.sorting-button:focus {
  outline: none;
}

/* Catalog */

.catalog {
  background-color: var(--basic-white);
  padding: 0;
}

.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0;
  padding: 23px 74px 31px;
  border-bottom: 1px solid var(--basic-neutral-focus);
}

.catalog-item-title {
  font-size: 21px;
  line-height: 26px;
}

.catalog-item-title:visited {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-item-title:hover {
  color: var(--special-light);
}

.catalog-item-title:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-item-card {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 30px;
}

.catalog-item-card img {
  margin-top: 6px;
}

.catalog-item-description h3 {
  margin: 0 0 7px;
}

.catalog-item-description {
  display: flex;
  flex-direction: column;
}

.catalog-item-price {
  font-weight: 400;
  margin-bottom: 18px;
  display: flex;
  width: 178px;
  justify-content: space-between;
}

.catalog-rating {
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
  margin-right: -3px;
}

.catalog-rating img {
  align-self: flex-end;
}

.catalog-rating-number {
  color: var(--basic-neutral-light);
  background-color: var(--basic-neutral);
  font-weight: 400;
  padding: 3px 15px;
}

.catalog-item-buttons .button {
  font-size: 14px;
  line-height: 21px;
  padding: 4px 16px;
}

.catalog-item-button-book {
  background-color: var(--special-dark);
  padding: 4px 17px;
  margin-left: 3px;
}

.catalog-item-button-book:hover {
  background-color: var(--special-dark-hover);
}

.catalog-item-button-book:focus {
  background-color: var(--special-dark-focus);
}

/* Main footer */

.footer-content {
  background-color: rgba(var(--basic-white-rgb), 0.9);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  margin: 0;
  padding: 16px 70px;
}

.inner-page .footer-content {
  background-color: var(--basic-white);
}

.main-footer .footer-content {
  position: absolute;
  bottom: 0;
}

.main-footer {
  position: relative;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  padding: 0 55px;
  text-align: center;
}

.footer-contacts-info {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
}

.footer-contacts .footer-phone {
  color: inherit;
}

.footer-contacts-phone {
  margin-top: 9px;
}

.footer-contacts .footer-phone:hover,
.footer-contacts .footer-phone:focus {
  text-decoration: none;
}

.footer-social {
  width: 150px;
  justify-self: center;
  padding: 20px 55px;
}

.footer-social .social-list {
  list-style: none;
}

.footer-copyright {
  display: flex;
  align-items: center;
  max-width: 200px;
  margin: 0;
  justify-self: end;
  line-height: 26px;
  padding: 22px 69px;
}

.footer-copyright-info {
  margin-right: 5px;
  margin-top: -3px;
}

.footer-copyright-link:hover path {
  fill: var(--special-light);
}

.footer-copyright-link:focus path {
  fill: var(--basic-extra-gray);
}

.footer-copyright-link:focus {
  outline: none;
}

/* Social button */
.social-list {
  display: flex;
  justify-content: space-between;
  width: 150px;
  padding: 0;
  margin: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  color: inherit;
  background-color: var(--special-light);
}

.social-button:hover {
  background-color: var(--special-light-hover);
}

.social-button:hover svg {
  opacity: 0.4;
}

.social-button:focus {
  background-color: var(--special-light-focus);
}
